/******************************
COLORI
******************************/
:root {
  --primary: #E6009E;
  --secondary: #0BF8F9;
  --dark: #212121;
  --light: #f3f3f3;
}


@font-face {
  font-family: doctoGlitch;
  src: url('../../dist/fonts/Glitch.otf') format('opentype');
}

/******************************
RESET 
******************************/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  
  @include respond(big-desktop){
    font-size: 75%;  // 1rem = 12px
  }
  @include respond(tab-land){
    font-size: 56.25%;  // 1rem = 8px
  }
  @include respond(tab-port){
    font-size: 50%;  // 1rem = 9px
  }
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

