/******************************
ANIMATION
******************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes loader {
  25% {
    color: #2ecc71;
  }
  50% {
    color: #e74c3c;
  }
  75% {
    color: var(--secondary);
  }
  to {
    transform: rotate(360deg);
  }
}
