
/******************************
HEADER
******************************/
.header {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: var(--dark);
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include respond(phone){
    background:url('../../dist/img/background-image.jpg') no-repeat;
    background-size: cover;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include respond(phone){
      display: none;
    }

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, .4), #000000);
    z-index: 1;
  }

  &__content {
    z-index: 2;

    & h1 {
      font-family: doctoGlitch;
      font-size: 10rem;  
      padding: 4rem;
    }
  }
}

.header-container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

section {
  background-color: black;
  padding: 2rem;
  
  & p {
    font-size: 1.6rem;
  }
}