.nav-container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;

  @include respond(phone){
    padding: 0;
  }
}

.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1400;
  height: 4.4rem;
  background-color: rgba($color: #333, $alpha: .5);
  backdrop-filter: blur(2rem);


  @include respond(phone){
    transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),
                height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }
}

.nav {

  @include respond(phone){
    position: relative;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;

    @include respond(phone){
      margin-top: 0;
    }

     &--item {
      @include respond(phone){
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
       }
     }
  }

  &__list-larger {
  
    @include respond(phone){
     position: fixed;
     top: 0;
     left: 0;
     width: 0;
     height: 0;
     display: block;
     padding: 10.5rem 5rem;
     z-index: 1000;
     box-sizing: border-box;
     opacity: 0;
     visibility: hidden;
     transition: opacity .3s;
    }
  }

  &__list-mobile {
    display: none;

    @include respond(phone){
      display: flex;
     }
  }
}

.nav-link {
  font-size: 1.4rem;
  color: #fff;
  padding: 0 1rem;
  transition: opacity .5s;

  &:hover {
    color: var(--primary);
  }

  @include respond(phone){
    font-size: 1.7rem;
    padding: 0;
    margin-top: auto 0;
  }
}

.nav-link-glitch {
  width: 2rem;
  height: 5.4rem;
}

.nav-link-logo {
  margin-top: .2rem;
  height: 4rem;
  width: 4rem;
  

  @include respond(phone){
    height: 4rem;
    width: 4rem;
    margin-top: .4rem;
    position: relative;
    z-index: 1500;
  }
  
}

.nav-link-instagram {
  font-size: 4rem;
  padding-top: .5rem;
  color: var(--primary);

  @include respond(phone){
    font-size: 3rem;
    margin-top: .4rem;
  }
}


.nav-item-hidden {
  @include respond(phone){
    display: none;
  }
}

.mobile-menu {
  @include respond(phone){
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.line {
  @include respond(phone){
    position: absolute;
    width: 2rem;
    height: 1px;
    background-color: #fff;
    transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.92);
  }
}

.line-top {
  @include respond(phone){
    margin-top: 5px;
  }
}

.line-bottom {
  @include respond(phone){
    margin-top: -.5rem;
  }
}

.active .line-top {
  @include respond(phone){
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.92);
  }
}
.active .line-bottom {
  @include respond(phone){
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.92);
  }
}

.nav-header.active {
  @include respond(phone){
    height: 100%;
    background-color: #000000;
  }
}

.active .nav__list-larger {
  
  @include respond(phone){
    width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  }
}

.nav__list-larger .nav__list--item {
  @include respond(phone){
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255, .1);
  }
  
}

.nav__list-larger .nav__list--item:nth-child(8) {
  @include respond(phone){
    border-bottom: none;
  }
  
}

.active .nav__list-larger .nav__list--item {
  
  @include respond(phone){
    animation: fadeIn 1s ease-in;
  }
}
